
@model ProjetoBuffet.ViewModels.Acesso.LoginViewModel;

@{
    ViewData["Title"] = "Pagina Inicial Externa";
}


<img src="logo.png" alt="Logo" class="center">
@* TELA DE LOGIN SEPARADA (Nao esquecer de descomentar o css) *@
<div class="login-form">
    
    @* <form action="/examples/actions/confirmation.php" method="post"> *@
    @*<form id="login-form" method="POST" action="/Home/Login">*@
    @*<form asp-controller="Privado" asp-action="Index" method="post">*@
    <form asp-controller="Acesso" asp-action="Login" method="post">    

        @* <form method="post" action="/Acesso/Login" > *@

        <h2 class="text-center">Log In</h2>

        @if (Model.Mensagem != null)
        {
            <p>@Model.Mensagem</p>
        }

        <div class="form-group">
            <input type="text" class="form-control" id="email" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
        </div>
        <div class="clearfix">
            @* <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label> *@
            <a asp-controller="Acesso" asp-action="RecuperarConta" class="pull-right">Recuperar conta</a>
        </div>
    </form>
    <p class="text-center"><a asp-controller="Acesso" asp-action="CriarConta" class="pull-right">Criar conta</a></p>
</div>

@*
<ul>
    @foreach (var cliente in @Model.Clientes)
    {
        <li>O cliente @cliente.Nome possui o ID: @cliente.Id</li>
    }
    
</ul>
*@


@* TELA DE LOGIN JUNTO COM REGISTRO (Nao esquecer de descomentar o css) *@
@* <div class="row"> *@
@* <div class="col-sm-6"> *@
@*     <div class="login-form"> *@
@*         $1$ <form action="/examples/actions/confirmation.php" method="post"> #1# *@
@*         <form asp-controller="Privado" asp-action="Index" method="post"> *@
@*      *@
@*             <h2 class="text-center">Entrar</h2> *@
@*             <div class="form-group"> *@
@*                 <input type="text" class="form-control" placeholder="Username" required="required"> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <input type="password" class="form-control" placeholder="Senha" required="required"> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <button type="submit" class="btn btn-primary btn-block">Entrar</button> *@
@*             </div> *@
@*             <div class="clearfix"> *@
@*                 $1$ <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label> #1# *@
@*                 <a href="#" class="pull-right">Esqueceu a senha?</a> *@
@*             </div> *@
@*         </form> *@
@*     </div> *@
@* </div> *@
@* <div class="col-sm-6"> *@
@*     <div class="login-form"> *@
@*         $1$ <form action="/examples/actions/confirmation.php" method="post"> #1# *@
@*         <form asp-controller="Privado" asp-action="Index" method="post"> *@
@*      *@
@*             <h2 class="text-center">Criar Conta</h2> *@
@*             <div class="form-group"> *@
@*                 <input type="text" class="form-control" placeholder="Username" required="required"> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <input type="password" class="form-control" placeholder="Senha" required="required"> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <button type="submit" class="btn btn-primary btn-block">Criar</button> *@
@*             </div> *@
@*         </form> *@
@*     </div> *@
@* </div> *@
@* </div> *@





