@using ProjetoBuffet.ViewModels.Home
@model ProjetoBuffet.ViewModels.Home.ClientesViewModel




@{
    ViewData["Title"] = "Sei la porra";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<ul>
    @foreach (Cliente cliente in Model.Clientes)
    {
        <li>@cliente.Nome nascido em @cliente.DataDeNascimento</li>
    }
</ul>