/*DESCOMENTAR ISSO SE FOR USAR A TELA DE CADASTRO SOZINHA*/
.login-form {
    width: 340px;
    margin: 20px auto;
}

/*DESCOMENTAR ISSO SE FOR USAR A TELA DE CADASTRO COM REGISTRO JUNTO*/
/*.login-form {*/
/*    width: 400px;*/
/*    height: 200px;*/
/*    margin: 50px auto;*/
/*}*/

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {
    font-size: 15px;
    font-weight: bold;
}


/*LOGO NA TELA DE LOGIN*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}